.Button {
    background-color: rgb(178, 224, 255);
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
    border-radius: 5px;
}

.Button.POSITIVE {
    background-color: rgb(112, 232, 112);
    color: #fff;
}

.Button.NEGATIVE {
    color: #fff;
    background-color: rgb(253, 86, 95);
}